.ByAdmin {
  color: #1c396a;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.Title {
  color: #1c396a;
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.0325rem;
}
.SubTitle {
  color: #7f7f7f;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.Btn {
  color: #fc0606;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
