.Btn {
  padding: 0.4375rem 0.9375rem;
  border: none;

  border-radius: 0.3125rem;
  background-color: #ff3e3d;
  color: #fff;
  font-weight: 600;

  /* font-family: Poppins; */
  font-size: 0.75rem;
  margin: 0 0.5rem;
}
.BlueBtn {
  display: inline-flex;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.3125rem;
  border: 1.5px solid #1c396a;
  background: #fff;

  color: #1c396a;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  padding: 0.4375rem 0.9375rem;
  align-items: flex-start;
  font-size: 0.75rem;
}

@media (min-width: 992px) {
  .Btn {
    font-size: 1rem;
    padding: 1rem 1.5rem;
    border-radius: 0.875rem;
  }
  .BlueBtn {
    font-size: 1.125rem;
    height: 3.125rem;
    padding: 1.875rem;
    border-radius: 0.625rem;
  }
}
